body {
    background: url("../images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    padding-left: 400px;
}

i.btn-entrar input {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    color: white;
}

i.btn-entrar {
    padding: 0;
    width: 100%;
}

div.main-sidenav {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    display: table;
}

h2.page-title {
    padding-bottom: 10px;
}

div.foot {
    display: table-row;
    vertical-align: bottom;
    height: 1px;
    padding-top: 5px;
}

img.item-img  {
    padding: 5px 0px;
    width: 100%;
}

.lightblue {
    background-color: rgb(147, 234, 255);
}

.lesslighterblue {
    background-color: rgb(127, 214, 235);
}

nav.navbar {
    display: none;
}

li.collapsible-logo-container {
    display: block;
}

li.collapsible-logo-container h3 {
    margin: 28px 0;
    padding: 0 10px;
}

a.collapsible-logo {
    color: rgba(0, 0, 0, 0.90);
}

div.desert {
    background: url("/images/desert.jpg");
}

div.koala {
    background: url("/images/koala.jpg");
}

div.carousel-item {
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
}

@media only screen and (max-width : 992px) {
    body {
        padding-left: 0px;
    }

    nav.navbar {
        display: block;
    }

    li.collapsible-logo-container {
        display: none;
    }
}

.sidenav .user-view {
    padding: 20px 16px;
}

div .collapsible-body > ul > li > a {
    background-color: #F8F8F8;
}

div.pagecontent {
    margin: 30px 15px 45px 15px;
}

div#map {
    height: 500px;
}

div.whitecontainer {
    background: rgba(255, 255, 255, 0.95);
    border-radius: 5px;
}

div.containerform {
    padding: 1px 40px 30px 40px;
}

div.containerform *:not(h1):not(h2):not(h3):not(h4):not(i) {
    font-size: 100%;
}

ul.sidenav *:not(h1):not(h2):not(h3):not(h4):not(i) {
    font-size: 100%;
}

h1 {
    margin: 25px 0;
}

img.profile-pic {
    margin: 20px 0 0 0;
    max-width: 150px;
}

div.contentcontainer {
    padding: 10px 30px;
}

div.profilecontent * {
    font-size: 105%;
}

ul.sidenav {
    width: 400px;
}