body {
    background: url("../images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    padding-left: 375px;
}

button.btn-html {
    width: 100%;
    color: white;
    outline: none;
}

i.btn-asp {
    padding: 0;
    width: 100%;
}

i.btn-asp input, input.btn-asp {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    color: white;
    outline: none;
}

a.btn-arrow i {
    cursor: pointer !important;
}

.title-size {
    font-size: 20px;
}

.ct-label {
    color: black;
}

.title-table {
    margin-bottom: 8px !important;
}

div.title-table {
    font-size: 28px !important;
}

.containerPacientesNaoAvisados > label {
    margin-left: 42px;
    font-size: 16px !important;
}

.containerPacientesNaoAvisados > .ddl {
    margin-top: 0;
}

text.ct-label {
    font-size: 105%;
}

.big-text {
    font-size: 16px !important;
}

.bigger-text {
    font-size: 32px !important;
}

div.consultainfo {
    padding: 0 42px;
    margin-bottom: 32px;
}

i.btn-asp {
    padding: 0;
    width: 100%;
}

textarea.emailcontent
{
    height: 150px;
}

div.modalform {
    padding: 0 15px;
}

div.ddl input {
    color: #9E9E9E;
}

div.last-item, div.last-item div {
    margin-bottom: 0;
}

div.last-input-field {
    margin-bottom: 0;
}

div.numbers {
    margin-top: 0;
}

div.main-sidenav {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    display: table;
}

h2.page-title {
    margin: 15px 0 30px 0;
}

div.foot {
    display: table-row;
    vertical-align: bottom;
    height: 1px;
    padding-top: 5px;
}

img.item-img.left {
    padding: 20px 20px 10px 0;
    width: 450px !important;
    max-width: 100%;
}

img.item-img.right {
    padding: 20px 0 10px 20px;
    width: 450px !important;
    max-width: 100%;
}

nav.navbar {
    display: none;
}

li.collapsible-logo-container {
    display: block;
}

li.collapsible-logo-container h3 {
    margin: 28px 0;
    padding: 0 10px;
}

a.collapsible-logo {
    color: rgba(0, 0, 0, 0.90);
}

div.carousel-item {
    user-select: none !important;
}

div.exam-checking {
    background: transparent url("/images/exam-checking.jpg") center center no-repeat;
}

div.adult-blood {
    background: transparent url("/images/adult-blood.jpg") center center no-repeat;
}

div.bed-clinic-empty {
    background: transparent url("/images/bed-clinic-empty.jpg") center center no-repeat;
}

div.chart-check-up {
    background: transparent url("/images/chart-check-up.jpg") center center no-repeat;
}

div.arms-care-check {
    background: transparent url("/images/arms-care-check.jpg") center center no-repeat;
}

div.carousel-item {
    background-size: cover;
    background-repeat: no-repeat;
}

@media only screen and (max-width : 992px) {
    body {
        padding-left: 0px;
    }

    nav.navbar {
        display: block;
    }

    li.collapsible-logo-container {
        display: none;
    }
}

.sidenav .user-view {
    padding: 20px 16px;
}

div.collapsible-body > ul > li > a {
    background-color: #F8F8F8;
}

div.pagecontent {
    margin: 30px 15px 45px 15px;
}

div#map {
    height: 500px;
}

div.whitecontainer {
    background: rgba(255, 255, 255, 0.95);
    border-radius: 5px;
}

div.containerform {
    padding: 1px 40px 30px 40px;
}

    div.containerform *:not(h1):not(h2):not(h3):not(h4):not(i):not(div.containerpicker) {
        font-size: 100%;
    }

ul.sidenav *:not(h1):not(h2):not(h3):not(h4):not(i) {
    font-size: 100%;
}

h1 {
    margin: 25px 0;
}

img.sidenav-profile-pic {
    min-width: 100px;
    min-height: 100px;
}

img.profile-pic {
    margin: 20px 0 0 0;
    max-width: 150px;
}

div.contentcontainer {
    padding: 10px 30px;
}

div.profilecontent * {
    font-size: 105%;
}

ul.sidenav {
    width: 375px;
}

a > i.material-icons {
    cursor: default;
}

div.middle-indicator {
    position: absolute;
    top: 45%;
}

a.middle-indicator-text, i.middle-indicator-text {
    font-size: 4.2rem !important;
    color: white !important;
}

a.content-indicator {
    width: 60px;
    height: 60px;
    background: none;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

div.prox-consulta {
    margin-top: 0 !important;
}

.ct-series-a .ct-bar {
    stroke-width: 30px;
}

.lblAviso {
    color: #CC0000 !important;
}